{% extends "base.html" %}
{% block title %}Add Row{% endblock %}

{% block content %}
<div class="card shadow-sm">
    <div class="card-body">
        <h3 class="mb-4">Add Row to {{ table.table_name }}</h3>

        <form method="POST">
            <div class="row g-3">
                {% for column in columns %}
                <div class="col-md-6">
                    <label class="form-label">
                        {{ column.column_name }}
                        {% if column.is_expiry == 1 %}
                            <span class="text-danger">(Expiry Column)</span>
                        {% endif %}
                    </label>

                    {% if column.column_type == 'date' %}
                        <input type="date" name="column_{{ column.id }}" class="form-control">
                    {% elif column.column_type == 'number' %}
                        <input type="number" name="column_{{ column.id }}" class="form-control">
                    {% elif column.column_type == 'email' %}
                        <input type="email" name="column_{{ column.id }}" class="form-control">
                    {% else %}
                        <input type="text" name="column_{{ column.id }}" class="form-control">
                    {% endif %}
                </div>
                {% endfor %}
            </div>

            <button type="submit" class="btn btn-dark mt-4">Save Row</button>
        </form>
    </div>
</div>
{% endblock %}
